extends /templates/_layouts/master

block body
  
  .bg-grey-40.h-screen
    .container.mx-auto.flex
        .bg-white.p-4(class='w-2/3')
          if error
            .message.flex.p-6.text-lg.mb-4.bg-red-100
              i.icon.text-white.mt-1.icon-info
              p.text-white-100.ml-2.leading-normal 2 errors: Please complete the highlighted fields correctly.
              
          .field
              label First Name
              input(type="text")
          .field
              label Last Name
              input(type="text")
          .field
              label Message
              textarea
                
          .flex.justify-between.flex-col-reverse.h-24.border-t.border-grey-60.py-4(class="md:flex-row md:items-center md:h-auto")
            + button('Secondary action', 'btn-link')
            input.btn-primary(type="submit")
        + paymentInfo
