
@tailwind preflight;

@tailwind components;

@tailwind utilities;

/* Theme Support */

[theme="financeit"] {
  --headline-font: 'Cabin';
  --body-font: 'Noto Sans';
  --color-interactive: #006be3;
  --color-interactive-dark: #1d60bf;
}
[theme="centah"] {
  --headline-font: 'Roboto';
  --body-font: 'Noto Sans';
  --color-interactive: green;
  --color-interactive-dark: red;
}
[theme="homedepot"] {
  --headline-font: 'Helvetica';
  --body-font: 'Helvetica';
  --color-interactive: #F58321;
  --color-interactive-dark: #CA4814;
}

[theme="lowes"] {
  --color-interactive: #0088cc;
  --color-interactive-dark: #0099e6;
}

/* Components */


/* 01 - Buttons  */

.btn-primary {
  @apply
    rounded
    p-4
    bg-interactive-100
    text-white
    font-body
    text-sm
    font-bold
    border-2
    border-interactive-100
    text-left;
}

.btn-primary:hover {
  @apply
    bg-interactive-dark
    text-white-100
    border-interactive-dark;
}

.btn-secondary {
  @apply
    rounded
    p-4
    bg-white
    text-interactive
    font-body
    text-sm
    font-bold
    border-2
    border-interactive-100
    text-left;
}
.btn-secondary:hover {
  @apply
    text-interactive-dark
    border-interactive-dark;
}

.btn-link {
  @apply
    text-interactive
    font-body
    text-sm
    font-bold
    text-left;
}

.btn-link:hover {
  @apply text-interactive-dark;
}
