---
title: Call to Action
category: Design patterns
order: 1
---

h2 Call to Action (multiple actions)
p Often we want to add a Call To Action area, which presents a primary and secondary action.


.br-sample
    .br-sample-content
      .flex.justify-between.flex-col-reverse.h-32(class="md:flex-row md:items-center md:h-auto")
        button.btn-secondary Secondary action
        button.btn-primary Primary action

      br
      br
      hr.border.border-grey-60
      br
      br


      .flex.justify-between.flex-col-reverse.h-24(class="md:flex-row md:items-center md:h-auto")
        button.btn-link Secondary action
        button.btn-primary Primary action



h2 Call to Action (single action)
p Often we want to add a Call To Action area, which presents a primary and secondary action.

.br-sample
    .br-sample-content
      .flex.justify-end.flex-col(class="md:flex-row")
        button.btn-primary Primary action            
      br
      br
      hr.border.border-grey-60
      br
      br

      .flex.justify-start.flex-col(class="md:flex-row")
        button.btn-link Secondary action
