each message in contentData.exampleArray
  
  .message.flex.p-6.text-lg.mb-4(class=message.type)
    i.icon.text-white.mt-1(class=message.icon)
    p.text-white-100.ml-2.leading-normal #{message.content}
