//- Mixins to help with translation
//- @see https://bedrockapp.org/documentation/multi-language-support/

//- Translate 2 strings direct

mixin button(label, type)
  button(class=type)
    = label


mixin paymentInfo
  .card.text-100.text-center.max-w-xs.border.border-grey-60.rounded-lg.mx-auto.py-8.px-4.bg-white
    h2.text-4xl.mb-6
      span.3xl $
      | 115
      small.block.text-sm per month
    
    dl.payment-info.mx-auto.mb-4.block
      .flex.justify-between.items-center.border-t.border-b.border-grey-60.py-5.px-2(class='-mt-px')
          dt.text-lg.font-body Purchase amount:
          dd.text-lg.font-body.font-bold $12,000
          
      .flex.justify-between.items-center.border-t.border-b.border-grey-60.py-5.px-2(class='-mt-px')
          dt.text-lg.font-body Interest rate:
          dd.text-lg.font-body.font-bold 7.99%

      .flex.justify-between.items-center.border-t.border-b.border-grey-60.py-5.px-2(class='-mt-px')
          dt.text-lg.font-body Amortization:
          dd.text-lg.font-body.font-bold 120 months
          
      .flex.justify-between.items-center.border-t.border-b.border-grey-60.py-5.px-2(class='-mt-px')
          dt.text-lg.font-body Administration fee:
          dd.text-lg.font-body.font-bold $12

    button.btn-primary(class='w-2/3') Continue
    
    span.mt-4.text-xs.text-60.block.mx-auto Offer expires 13 September
