extends /templates/_layouts/master

include ../../core/templates/mixins/render-page-tree

block body
	div.bg-red-60.p-6(class="w-1/2 md:w-full")
		h1.text-xl.text-accent hello world!
		button.btn-primary new button