
.typography
  table
    thead
      tr
        th.uppercase.text-left.font-headline.text-sm.p-2.text-80 Type
        th.uppercase.text-left.font-headline.text-sm.p-2.text-80 Attributes
        th.uppercase.text-left.font-headline.text-sm.p-2.text-80 Sample
    tbody
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 H1 • Big Headline
        td.p-2.text-left.font-body.text-sm.text-60
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-headline
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-3xl
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold 
        td.p-2.px-4.text-left
          h1.font-headline.text-3xl.font-bold Lorem ipsum dolor sit amet.
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 H2 • Page Header
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-headline
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-2xl
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold
        td.p-2.px-4.text-left
          h2.font-headline.text-2xl.font-bold Consectetur adipisicing elit
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 H3 • Page Header
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-headline
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-xl
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold 
        td.p-2.px-4.text-left
          h3.font-headline.text-xl.font-bold  Dolor sit amet, consectetur.
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 H3B • Page Title
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-headline
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-xl
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold
        td.p-2.px-4.text-left
          h3.font-headline.text-xl.font-bold  Ipsum dolor sit consectetur.
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 H4 • Section Title
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-headline
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-lg
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold
        td.p-2.px-4.text-left
          h4.font-headline.text-lg.font-bold  Dolor sit amet adipisicing elit.
  
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 P • Subhead Body
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-xl
        td.p-2.px-4.text-left
          p.font-body.text-xl Consectetur adipisicing elit.
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 P • Body Copy
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-lg
        td.p-2.px-4.text-left
          p.font-body.text-lg Adipisicing elit lorem ipsum.
    
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 Small paragraph
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-sm
        td.p-2.px-4.text-left
          p.font-body.text-sm Amet consectetur adipisicing elit
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 Small paragrpah (light)
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-sm
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-80
        td.p-2.px-4.text-left
          p.font-body.text-sm.text-80 Consectetur adipisicing elit
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 Microcopy
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-sm
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-100
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 uppercase
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold
        td.p-2.px-4.text-left
          p.font-body.text-sm.text-100.uppercase.font-bold Microcopy Dolor sit amet, consectetur.
          
      tr.border-b.border-grey-60
        td.p-2.text-left.font-body.text-sm.text-60 Label
        td.p-2.text-left.font-body.text-sm.text-60 
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-body
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-sm
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 text-60
          span.bg-grey-40.p-2.text-80.text-sm.block.rounded-sm.m-2 font-bold
        td.p-2.px-4.text-left
          p.font-body.text-sm.text-60.font-bold Dolor sit amet, consectetur.
